@model ProfileViewModel

@{
    ViewData["Title"] = "Профиль";
}

<div class="row">
    <div class="col-sm-8">
        <form action="/profile" method="post">
            <input name="ProfileId" type="hidden" value=@Model.ProfileId />
            @Html.AntiForgeryToken()
            <p>
                <div class="error">@Html.ValidationMessage("Form")</div>
            </p>
            <p>
                <label>Имя профиля</label>
                <input name="ProfileName" type="text" value="@Model.ProfileName" class="form-control"/>
                <div class="error form-text text-muted">@Html.ValidationMessageFor(m => m.ProfileName)</div>
            </p>
            <p>
                <label>Имя</label>
                <input name="FirstName" type="text" value="@Model.FirstName" class="form-control" />
                <div class="error form-text text-muted">@Html.ValidationMessageFor(m => m.FirstName)</div>
            </p>
            <p>
                <label>Фамилия</label>
                <input name="LastName" type="text" value="@Model.LastName" class="form-control" />
                <div class="error form-text text-muted">@Html.ValidationMessageFor(m => m.LastName)</div>
            </p>
            <button class="btn btn-primary">Сохранить</button>
        </form>
    </div>

    <div class="col-sm-4">
        <form action="/profile/uploadimage" method="post" enctype="multipart/form-data">
            <input name="ProfileId" type="hidden" value=@Model.ProfileId />
            @Html.AntiForgeryToken()
            @if (!String.IsNullOrEmpty(Model.ProfileImage))
            {
                <img src="@Model.ProfileImage" class="profileimage" >
            }
            <p>
                <input type="file" name="ProfileImage">
            </p>
            <button class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>
