@model EBlog.ViewModels.BlogPageViewModel
@{
    ViewData["Title"] = "Blog page";
}

<section>
    <div class="container my-5 py-5">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <img class="rounded-circle shadow-1-strong me-3" src="@Model.BlogViewModel?.ProfileImage" alt="Image" width="60" height="60" />
                            <div>
                                <h6 class="fw-bold text-primary mb-1">@Model.BlogViewModel?.AuthorName</h6>
                            </div>
                        </div>
                        <h1 class="display-4">@Model.BlogViewModel?.BlogHeader</h1>
                        <div class="mt-3 mb-4">@Model.BlogViewModel?.BlogContent</div>
                    </div>
                    @if (Model.CurrProfileId != null && Model.CurrProfileId == Model.BlogViewModel?.AuthorId)
                    {
                        <div class="card-footer d-flex w-100" align-items-end mb-3" style="background-color: #f8f9fa;">
                            <a href="/blogedit/@Model.BlogViewModel.BlogId" class="btn btn-primary me-2">Изменить</a>
                            <form id="deleteForm" action="/blogedit/@Model.BlogViewModel.BlogId" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="_method" value="DELETE" />
                                <button class="btn btn-danger" type="submit">Удалить</button>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5 py-5">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="card">
                    <div class="card-body">
                        @if (Model.CommentViewModel != null)
                        {
                            @foreach (var comment in Model.CommentViewModel)
                            {
                                <div class="d-flex align-items-center mb-3">
                                    <img class="rounded-circle shadow-1-strong me-3" src="@comment.ProfileImage" alt="" width="60" height="60" />
                                    <div>
                                        <h6 class="fw-bold text-primary mb-1 me-2">@comment.AuthorName</h6>
                                    </div>
                                    @if (comment.AuthorId == Model.CurrProfileId)
                                    {
                                        <button class="btn btn-primary  mb-1 me-2 btn-sm" onclick="editComment(@comment.CommentId)">Изменить</button>
                                        <form id="deleteCommentForm-@comment.CommentId" action="/blog/@Model.BlogViewModel?.BlogId/deletecomment/@comment.CommentId" method="post">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="_method" value="DELETE" />
                                            <button type="submit" class="btn btn-danger mb-1 btn-sm">Удалить</button>
                                        </form>
                                    }
                                </div>
                                <div id="comment-@comment.CommentId" class="mb-4">
                                    <p>@comment.CommentContent</p>
                                    <div class="edit-comment" style="display: none;">
                                        <form id="editForm-@comment.CommentId" action="/blog/@Model.BlogViewModel?.BlogId/editcomment/@comment.CommentId" method="post">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="CommentId" value="@comment.CommentId" />
                                            <input id="EditedContent-@comment.CommentId" name="EditedContent" type="text" class="form-control mb-2" value="@comment.CommentContent" />
                                            <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
                                        </form>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="card-footer py-3" style="background-color: #f8f9fa;">
                        <div class="d-flex w-100">
                            <div class="form-outline w-100">
                                <form action="/blog/@Model.BlogViewModel?.BlogId/commentpost" method="post">
                                    @Html.AntiForgeryToken()
                                    <div class="mb-3">
                                        <div class="error">@Html.ValidationMessage("Form")</div>
                                    </div>
                                    <input id="CommentContent" name="CommentContent" type="text" class="form-control mb-2" placeholder="Type comment..." />
                                    <div class="text-end">
                                        <button class="btn btn-primary btn-sm">Сохранить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        function editComment(commentId) {
            var commentDiv = $('#comment-' + commentId);
            var editDiv = commentDiv.find('.edit-comment');

            commentDiv.find('p').hide();
            editDiv.show();
        }
    </script>
}
